# This workflow will run unit tests on pull requests or when manually activated

name: test

on:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up python
        id: setup-python
        uses: actions/setup-python@v5
        
      - name: Install Openslide
        run: sudo apt install openslide-tools

      - name: Install
        run: pip install .[test,openslide]

      - name: Run tests
        run: pytest
