# This workflow will run unit tests on pull requests or when manually activated

name: test

on:
  push:
    branches:
      main
  pull_request:
  workflow_dispatch:

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up python
        id: setup-python
        uses: actions/setup-python@v5
        with:
          python-version: 3.10
        
      - name: Install
        run: pip install .[test]

      - name: Run tests
        run: pytest
